.gallery{
  margin: 10px 200px;

}
.gallery img{
  width: 230px;
  padding: 5px;
  
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery img:hover{
-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

